New Workflow/LMS Data_ Fetch Scores (FIXED).json
{
  "name": "LMS - Fetch Scores (FIXED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "scores",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-scores",
      "name": "GET /scores",
      "webhookId": "scores-webhook"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Assessment_Scores", "mode": "name" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 0],
      "id": "get-scores",
      "name": "Get Assessment_Scores",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "jsCode": "// Filter scores by trainee email from query parameter\nconst traineeEmail = $('GET /scores').first().json.query?.traineeEmail?.toLowerCase() || '';\n\nif (!traineeEmail) {\n  return [{ json: { error: 'traineeEmail query parameter is required', scores: [] } }];\n}\n\nconst allScores = $input.all();\nconst filteredScores = allScores.filter(item => {\n  const email = (item.json['Trainee Email'] || '').toLowerCase();\n  return email === traineeEmail;\n});\n\n// Transform to expected format\nconst scores = filteredScores.map(item => ({\n  'Trainee Email': item.json['Trainee Email'],\n  'Trainee Name': item.json['Trainee Name'],\n  'Assessment Name': item.json['Assessment Name'],\n  'Score': item.json['Score'],\n  'Passed': item.json['Passed'],\n  'Attempt Number': item.json['Attempt Number'] || 1,\n  'Submitted At': item.json['Submitted At'] || item.json['Timestamp'],\n  'Coach Email': item.json['Coach Email']\n}));\n\n// Sort by date, most recent first\nscores.sort((a, b) => {\n  const dateA = new Date(a['Submitted At'] || 0).getTime();\n  const dateB = new Date(b['Submitted At'] || 0).getTime();\n  return dateB - dateA;\n});\n\nreturn [{ json: { scores } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0],
      "id": "filter-scores",
      "name": "Filter by Trainee Email"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 0],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "GET /scores": {
      "main": [[{"node": "Get Assessment_Scores", "type": "main", "index": 0}]]
    },
    "Get Assessment_Scores": {
      "main": [[{"node": "Filter by Trainee Email", "type": "main", "index": 0}]]
    },
    "Filter by Trainee Email": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
