New Workflow/Win 1 - No Lark (Testing).json
{
  "name": "Win 1 - Welcome Email (No Lark - Testing)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger/welcome",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-welcome",
      "name": "Welcome Webhook",
      "webhookId": "welcome-webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "🎉 Welcome to StoreHub Training, {{ $json.fullName }}!",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\">\n    <h1 style=\"color: white; margin: 0;\">Welcome to StoreHub! 🚀</h1>\n  </div>\n  \n  <div style=\"padding: 30px; background: #f9fafb; border: 1px solid #e5e7eb;\">\n    <p style=\"font-size: 16px;\">Hi <strong>{{ $json.fullName }}</strong>,</p>\n    \n    <p>We're excited to have you join the StoreHub team! Your training journey as a <strong>{{ $json.role }}</strong> begins on <strong>{{ $json.trainingStartDate }}</strong>.</p>\n    \n    <div style=\"background: white; border-radius: 8px; padding: 20px; margin: 20px 0; border-left: 4px solid #667eea;\">\n      <h3 style=\"margin-top: 0; color: #667eea;\">📋 Your Training Details</h3>\n      <ul style=\"line-height: 1.8;\">\n        <li><strong>Role:</strong> {{ $json.role }}</li>\n        <li><strong>Country:</strong> {{ $json.country }}</li>\n        <li><strong>Start Date:</strong> {{ $json.trainingStartDate }}</li>\n        <li><strong>Your Coach:</strong> {{ $json.coachName }} ({{ $json.coachEmail }})</li>\n      </ul>\n    </div>\n    \n    <div style=\"background: #ecfdf5; border-radius: 8px; padding: 20px; margin: 20px 0;\">\n      <h3 style=\"margin-top: 0; color: #059669;\">🎯 Getting Started</h3>\n      <p>Access your personalized training dashboard here:</p>\n      <a href=\"https://training.storehub.com/dashboard/my-training\" style=\"display: inline-block; background: #667eea; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; margin-top: 10px;\">Open Learning Hub →</a>\n    </div>\n    \n    <p>Your coach <strong>{{ $json.coachName }}</strong> will guide you through your training. Don't hesitate to reach out if you have any questions!</p>\n    \n    <p style=\"margin-top: 30px;\">Best of luck,<br><strong>The StoreHub Training Team</strong></p>\n  </div>\n  \n  <div style=\"background: #f3f4f6; padding: 15px; text-align: center; font-size: 12px; color: #6b7280; border-radius: 0 0 10px 10px;\">\n    <p style=\"margin: 0;\">StoreHub Training LMS | Questions? Contact your coach or andrea.kaur@storehub.com</p>\n  </div>\n</div>",
        "options": {
          "ccList": "={{ $json.coachEmail }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [250, 0],
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "credentials": { "gmailOAuth2": { "id": "M8WHs7W6uy2BUq7w", "name": "AK's" } }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Trainees", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('Welcome Webhook').item.json.email }}",
            "Status": "Email Sent",
            "Email Sent Date": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["Email Address"],
          "schema": [
            {"id": "Email Address", "displayName": "Email Address", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email Sent Date", "displayName": "Email Sent Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 0],
      "id": "update-trainee-status",
      "name": "Update Trainee Status",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Notification_Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notification ID": "={{ 'WELCOME-' + $now.format('yyyyMMdd-HHmmss') + '-' + Math.random().toString(36).substr(2, 5) }}",
            "Type": "Welcome Email",
            "Recipient Email": "={{ $('Welcome Webhook').item.json.email }}",
            "Recipient Name": "={{ $('Welcome Webhook').item.json.fullName }}",
            "Subject": "={{ 'Welcome to StoreHub Training, ' + $('Welcome Webhook').item.json.fullName + '!' }}",
            "Sent At": "={{ $now.toISO() }}",
            "Sent By": "LMS System",
            "Status": "Sent",
            "Notes": "={{ 'Role: ' + $('Welcome Webhook').item.json.role + ' | Coach: ' + $('Welcome Webhook').item.json.coachName }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Notification ID", "displayName": "Notification ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Type", "displayName": "Type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Recipient Email", "displayName": "Recipient Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Recipient Name", "displayName": "Recipient Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Subject", "displayName": "Subject", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Sent At", "displayName": "Sent At", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Sent By", "displayName": "Sent By", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Notes", "displayName": "Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [500, 200],
      "id": "log-notification",
      "name": "Log to Notification_Log",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "success", "value": "true" },
            { "name": "message", "value": "Welcome email sent successfully" },
            { "name": "traineeEmail", "value": "={{ $('Welcome Webhook').item.json.email }}" },
            { "name": "traineeName", "value": "={{ $('Welcome Webhook').item.json.fullName }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 100],
      "id": "set-response",
      "name": "Set Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [950, 100],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Welcome Webhook": {
      "main": [[{"node": "Send Welcome Email", "type": "main", "index": 0}]]
    },
    "Send Welcome Email": {
      "main": [[
        {"node": "Update Trainee Status", "type": "main", "index": 0},
        {"node": "Log to Notification_Log", "type": "main", "index": 0}
      ]]
    },
    "Update Trainee Status": {
      "main": [[{"node": "Set Response", "type": "main", "index": 0}]]
    },
    "Log to Notification_Log": {
      "main": [[{"node": "Set Response", "type": "main", "index": 0}]]
    },
    "Set Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
