New Workflow/Win 2.5_ Score Notification (UNIFIED).json
{
  "name": "Win 2.5: Score Notification (UNIFIED)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Every 15 Minutes"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Trainees", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, -600],
      "id": "get-trainees",
      "name": "Get Trainees",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Coach & Managers Directory", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, -400],
      "id": "get-coaches",
      "name": "Get Coach Directory",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Assessment_Scores", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, -200],
      "id": "get-existing-scores",
      "name": "Get Existing Scores",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": { "numberInputs": 3 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [600, -400],
      "id": "merge-config",
      "name": "Merge Config Data"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Hardware Setup", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 100],
      "id": "get-hardware-setup",
      "name": "Get Hardware Setup",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Hardware Assessment", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 100],
      "id": "set-hardware",
      "name": "Set: Hardware Assessment"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "All in One Quiz", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 300],
      "id": "get-all-in-one",
      "name": "Get All in One Quiz",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "All in One Quiz", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 300],
      "id": "set-all-in-one",
      "name": "Set: All in One Quiz"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Advance System & Networking Quiz", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 500],
      "id": "get-advance-quiz",
      "name": "Get Advance Quiz",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Advance System & Networking Quiz", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 500],
      "id": "set-advance-quiz",
      "name": "Set: Advance Quiz"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Care Mock Test", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 700],
      "id": "get-care-mock",
      "name": "Get Care Mock Test",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Training Assessment (F&B)", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 900],
      "id": "get-training-fnb",
      "name": "Get Training Assessment FnB",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Training Assessment (F&B)", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 900],
      "id": "set-training-fnb",
      "name": "Set: Training FnB"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Training Assessment (Retail)", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 1100],
      "id": "get-training-retail",
      "name": "Get Training Assessment Retail",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Training Assessment (Retail)", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 1100],
      "id": "set-training-retail",
      "name": "Set: Training Retail"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Training Mock Test (F&B)", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 1300],
      "id": "get-mock-fnb",
      "name": "Get Training Mock Test FnB",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Training Mock Test (F&B)", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 1300],
      "id": "set-mock-fnb",
      "name": "Set: Mock FnB"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Training Mock Test (Retail)", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 1500],
      "id": "get-mock-retail",
      "name": "Get Training Mock Test Retail",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Training Mock Test (Retail)", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 1500],
      "id": "set-mock-retail",
      "name": "Set: Mock Retail"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Welcome Call", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 1700],
      "id": "get-welcome-call",
      "name": "Get Welcome Call",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Welcome Call Assessment", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 1700],
      "id": "set-welcome-call",
      "name": "Set: Welcome Call"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Go Live Assessment", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 1900],
      "id": "get-golive",
      "name": "Get Go Live Assessment",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "Go Live Call Assessment", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 1900],
      "id": "set-golive",
      "name": "Set: Go Live"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "CSM Assessment", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 2100],
      "id": "get-csm-assessment",
      "name": "Get CSM Assessment",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [{ "id": "set-type", "name": "Assessment Type", "value": "CSM Assessment", "type": "string" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 2100],
      "id": "set-csm-assessment",
      "name": "Set: CSM Assessment"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "CSM Roleplay", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 2300],
      "id": "get-csm-roleplay",
      "name": "Get CSM Roleplay",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[BC] SPIN", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 2500],
      "id": "get-bc-spin",
      "name": "Get BC SPIN",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[BC] Mock Test", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 2700],
      "id": "get-bc-mock",
      "name": "Get BC Mock Test",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[BC] Pitching", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 2900],
      "id": "get-bc-pitching",
      "name": "Get BC Pitching",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[BC] Closing", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 3100],
      "id": "get-bc-closing",
      "name": "Get BC Closing",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[BC] Full Pitching", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 3300],
      "id": "get-bc-full-pitching",
      "name": "Get BC Full Pitching",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[SC] Mock Test", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 3500],
      "id": "get-sc-mock",
      "name": "Get SC Mock Test",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[SC] Full Call Assessment", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 3700],
      "id": "get-sc-full-call",
      "name": "Get SC Full Call",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1bA5ljjILFVBS9caa7_6PIf4nL4FS3sr7UDqohnXFC8o", "mode": "id" },
        "sheetName": { "__rl": true, "value": "[SC] Objection Handling", "mode": "name" }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [300, 3900],
      "id": "get-sc-objection",
      "name": "Get SC Objection Handling",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": { "numberInputs": 20 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [800, 1500],
      "id": "merge-assessments",
      "name": "Merge Assessment Sheets"
    },
    {
      "parameters": { "numberInputs": 2 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1000, 500],
      "id": "merge-all",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items and categorize them\nconst allItems = $input.all();\n\nconst trainees = [];\nconst coaches = [];\nconst existingScores = [];\nconst assessmentData = [];\n\nallItems.forEach(item => {\n  const data = item.json;\n  \n  // Identify trainees by Training Start Date column\n  if (data['Training Start Date'] !== undefined && data['Email Address']) {\n    trainees.push(data);\n  }\n  // Identify coaches by Coach Email column\n  else if (data['Coach Email'] && data['Coach Name']) {\n    coaches.push(data);\n  }\n  // Identify existing scores by Score ID\n  else if (data['Score ID']) {\n    existingScores.push(data);\n  }\n  // Everything else with Timestamp is assessment data\n  else if (data.Timestamp || data.timestamp) {\n    assessmentData.push(data);\n  }\n});\n\nconsole.log(`Trainees: ${trainees.length}, Coaches: ${coaches.length}, Existing: ${existingScores.length}, Assessments: ${assessmentData.length}`);\n\n// Build lookup maps\nconst traineeMap = new Map();\ntrainees.forEach(t => {\n  const email = (t['Email Address'] || '').toLowerCase();\n  if (email) traineeMap.set(email, t);\n});\n\nconst coachMap = new Map();\ncoaches.forEach(c => {\n  const role = c.Role || c.Department || '';\n  const country = c.Country || '';\n  const key = `${role}-${country}`;\n  if (!coachMap.has(key)) coachMap.set(key, []);\n  coachMap.get(key).push(c);\n});\n\n// Build existing score lookup for deduplication\nconst existingKeys = new Set();\nexistingScores.forEach(s => {\n  if (s['Form Response Id']) {\n    existingKeys.add(s['Form Response Id']);\n  }\n});\n\n// Helper: Normalize score to percentage\nfunction normalizeScore(scoreVal) {\n  if (!scoreVal && scoreVal !== 0) return 0;\n  let str = String(scoreVal).trim();\n  \n  // Handle \"30 / 40\" format\n  if (str.includes('/')) {\n    const parts = str.split('/');\n    const num = parseFloat(parts[0]) || 0;\n    const denom = parseFloat(parts[1]) || 1;\n    return Math.round((num / denom) * 100 * 100) / 100;\n  }\n  \n  // Remove % sign\n  str = str.replace('%', '');\n  let num = parseFloat(str) || 0;\n  \n  // If decimal (0.93 = 93%), convert to percentage\n  if (num > 0 && num <= 1) {\n    num = num * 100;\n  }\n  \n  return Math.round(num * 100) / 100;\n}\n\nconst newScores = [];\nlet skippedCount = 0;\n\nassessmentData.forEach((raw, idx) => {\n  const timestamp = raw.Timestamp || raw.timestamp || '';\n  const coachEmail = (raw['Email Address'] || '').toLowerCase();\n  const traineeEmail = (raw['New Hire Email'] || raw['Trainee Email'] || '').toLowerCase();\n  const traineeName = raw['New Hire Full Name'] || raw['Trainee Name'] || raw['Player Name?'] || '';\n  const department = raw['Department/Role'] || raw.Department || raw.Role || raw.Team || '';\n  const coachName = raw['Coach Name'] || '';\n  \n  // Get score from various possible columns\n  const scoreRaw = raw.Score || raw.score || raw['Final Score'] || '';\n  const remarks = raw['Remarks (Optional)'] || raw.Remarks || '';\n  \n  // Use Assessment Type (set by Set nodes or from form)\n  const assessmentName = raw['Assessment Type'] || 'Unknown Assessment';\n  \n  if (!traineeEmail || !timestamp) return;\n  \n  // Create dedup key\n  const dedupKey = `${traineeEmail}-${assessmentName}-${timestamp}`;\n  if (existingKeys.has(dedupKey)) {\n    skippedCount++;\n    return;\n  }\n  \n  // Get trainee info for country\n  const trainee = traineeMap.get(traineeEmail) || {};\n  const country = trainee.Country || raw.Country || 'Unknown';\n  \n  // Calculate attempt number\n  let attemptNumber = 1;\n  existingScores.forEach(s => {\n    if ((s['Trainee Email'] || '').toLowerCase() === traineeEmail && \n        s['Assessment Name'] === assessmentName) {\n      attemptNumber++;\n    }\n  });\n  \n  // Also count new scores we're adding in this batch\n  newScores.forEach(s => {\n    if (s.json['Trainee Email'] === traineeEmail && \n        s.json['Assessment Name'] === assessmentName) {\n      attemptNumber++;\n    }\n  });\n  \n  // Normalize score and determine pass/fail\n  const scoreNum = normalizeScore(scoreRaw);\n  const scoreFormatted = scoreNum > 0 ? `${scoreNum}%` : '0%';\n  const passed = scoreNum >= 80 ? 'Pass' : 'Fail';\n  \n  // Get coaches for this department/country\n  const coachKey = `${department}-${country}`;\n  const deptCoaches = coachMap.get(coachKey) || [];\n  const coachEmails = deptCoaches.map(c => c['Coach Email']).filter(Boolean).join(', ');\n  \n  newScores.push({\n    json: {\n      'Score ID': `SCORE-${Date.now()}-${idx}`,\n      'Trainee Email': traineeEmail,\n      'Assessment Name': assessmentName,\n      'Attempt Number': attemptNumber,\n      'Score': scoreFormatted,\n      'Passed': passed,\n      'Evaluated By': coachEmail,\n      'Evaluated At': timestamp,\n      'Feedback': remarks,\n      'Form Response Id': dedupKey,\n      '_trainee_name': traineeName,\n      '_department': department,\n      '_country': country,\n      '_coach_name': coachName,\n      '_coach_emails': coachEmails || coachEmail\n    }\n  });\n  \n  existingKeys.add(dedupKey);\n});\n\nconsole.log(`New scores: ${newScores.length}, Skipped: ${skippedCount}`);\n\nif (newScores.length === 0) {\n  return [{ json: { _noNewScores: true, message: 'No new scores to process' } }];\n}\n\nreturn newScores;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500],
      "id": "normalize-scores",
      "name": "Normalize and Find New Scores"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "check", "leftValue": "={{ $json._noNewScores }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1400, 500],
      "id": "has-new-scores",
      "name": "Has New Scores?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1IFAAelyD_x2uCOQKcbj8n7wgizNtVirAYbqCv67Y468", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Assessment_Scores", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Score ID": "={{ $json['Score ID'] }}",
            "Trainee Email": "={{ $json['Trainee Email'] }}",
            "Assessment Name": "={{ $json['Assessment Name'] }}",
            "Attempt Number": "={{ $json['Attempt Number'] }}",
            "Score": "={{ $json['Score'] }}",
            "Passed": "={{ $json['Passed'] }}",
            "Evaluated By": "={{ $json['Evaluated By'] }}",
            "Evaluated At": "={{ $json['Evaluated At'] }}",
            "Feedback": "={{ $json['Feedback'] }}",
            "Form Response Id": "={{ $json['Form Response Id'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Score ID", "displayName": "Score ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Trainee Email", "displayName": "Trainee Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Assessment Name", "displayName": "Assessment Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Attempt Number", "displayName": "Attempt Number", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Score", "displayName": "Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Passed", "displayName": "Passed", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Evaluated By", "displayName": "Evaluated By", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Evaluated At", "displayName": "Evaluated At", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Feedback", "displayName": "Feedback", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Form Response Id", "displayName": "Form Response Id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1620, 400],
      "id": "append-scores",
      "name": "Append to Assessment_Scores",
      "credentials": { "googleSheetsOAuth2Api": { "id": "xWkX5ODqyr8g6JBX", "name": "AK's" } }
    },
    {
      "parameters": {
        "jsCode": "const scores = $input.all();\nconst groups = new Map();\n\nscores.forEach(item => {\n  const s = item.json;\n  const key = `${s._department}-${s._country}`;\n  \n  if (!groups.has(key)) {\n    groups.set(key, {\n      department: s._department,\n      country: s._country,\n      coach_emails: s._coach_emails,\n      scores: []\n    });\n  }\n  \n  groups.get(key).scores.push({\n    trainee: s._trainee_name,\n    assessment: s['Assessment Name'],\n    score: s.Score,\n    passed: s.Passed,\n    attempt: s['Attempt Number'],\n    coach: s._coach_name\n  });\n});\n\nconst digests = [];\n\ngroups.forEach((group) => {\n  let traineeList = '';\n  group.scores.forEach(s => {\n    const emoji = s.passed === 'Pass' ? '✅' : '⚠️';\n    traineeList += `${emoji} ${s.trainee}\\n   → ${s.assessment}: ${s.score} (Attempt #${s.attempt})\\n\\n`;\n  });\n  \n  digests.push({\n    json: {\n      role: group.department,\n      country: group.country,\n      coach_emails: group.coach_emails,\n      total_scores: group.scores.length,\n      trainee_list: traineeList\n    }\n  });\n});\n\nif (digests.length === 0) {\n  return [{ json: { _noDigest: true } }];\n}\n\nreturn digests;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 600],
      "id": "group-for-email",
      "name": "Group for Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "check", "leftValue": "={{ $json._noDigest }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1840, 600],
      "id": "has-digest",
      "name": "Has Digest?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.coach_emails }}",
        "subject": "=⚡️ Latest Scores: {{ $json.role }} ({{ $json.country }})",
        "emailType": "text",
        "message": "=Hi {{ $json.country }} {{ $json.role }} Team,\n\nQuick update: {{ $json.total_scores }} new assessment score(s) have just been submitted.\n\nHere's the rundown:\n\n{{ $json.trainee_list }}\n\nAll scores are now synced to the Training LMS Dashboard.\n\nCheers,\n\nAndrea K.\nSr. Training & KB Specialist",
        "options": { "ccList": "andrea.kaur@storehub.com" }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2060, 500],
      "id": "send-email",
      "name": "Send Score Digest Email",
      "credentials": { "gmailOAuth2": { "id": "M8WHs7W6uy2BUq7w", "name": "AK's" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2060, 700],
      "id": "no-email",
      "name": "No Email Needed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1620, 800],
      "id": "no-new-scores",
      "name": "No New Scores"
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[
        {"node": "Get Trainees", "type": "main", "index": 0},
        {"node": "Get Coach Directory", "type": "main", "index": 0},
        {"node": "Get Existing Scores", "type": "main", "index": 0},
        {"node": "Get Hardware Setup", "type": "main", "index": 0},
        {"node": "Get All in One Quiz", "type": "main", "index": 0},
        {"node": "Get Advance Quiz", "type": "main", "index": 0},
        {"node": "Get Care Mock Test", "type": "main", "index": 0},
        {"node": "Get Training Assessment FnB", "type": "main", "index": 0},
        {"node": "Get Training Assessment Retail", "type": "main", "index": 0},
        {"node": "Get Training Mock Test FnB", "type": "main", "index": 0},
        {"node": "Get Training Mock Test Retail", "type": "main", "index": 0},
        {"node": "Get Welcome Call", "type": "main", "index": 0},
        {"node": "Get Go Live Assessment", "type": "main", "index": 0},
        {"node": "Get CSM Assessment", "type": "main", "index": 0},
        {"node": "Get CSM Roleplay", "type": "main", "index": 0},
        {"node": "Get BC SPIN", "type": "main", "index": 0},
        {"node": "Get BC Mock Test", "type": "main", "index": 0},
        {"node": "Get BC Pitching", "type": "main", "index": 0},
        {"node": "Get BC Closing", "type": "main", "index": 0},
        {"node": "Get BC Full Pitching", "type": "main", "index": 0},
        {"node": "Get SC Mock Test", "type": "main", "index": 0},
        {"node": "Get SC Full Call", "type": "main", "index": 0},
        {"node": "Get SC Objection Handling", "type": "main", "index": 0}
      ]]
    },
    "Get Trainees": { "main": [[{"node": "Merge Config Data", "type": "main", "index": 0}]] },
    "Get Coach Directory": { "main": [[{"node": "Merge Config Data", "type": "main", "index": 1}]] },
    "Get Existing Scores": { "main": [[{"node": "Merge Config Data", "type": "main", "index": 2}]] },
    "Get Hardware Setup": { "main": [[{"node": "Set: Hardware Assessment", "type": "main", "index": 0}]] },
    "Set: Hardware Assessment": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 0}]] },
    "Get All in One Quiz": { "main": [[{"node": "Set: All in One Quiz", "type": "main", "index": 0}]] },
    "Set: All in One Quiz": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 1}]] },
    "Get Advance Quiz": { "main": [[{"node": "Set: Advance Quiz", "type": "main", "index": 0}]] },
    "Set: Advance Quiz": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 2}]] },
    "Get Care Mock Test": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 3}]] },
    "Get Training Assessment FnB": { "main": [[{"node": "Set: Training FnB", "type": "main", "index": 0}]] },
    "Set: Training FnB": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 4}]] },
    "Get Training Assessment Retail": { "main": [[{"node": "Set: Training Retail", "type": "main", "index": 0}]] },
    "Set: Training Retail": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 5}]] },
    "Get Training Mock Test FnB": { "main": [[{"node": "Set: Mock FnB", "type": "main", "index": 0}]] },
    "Set: Mock FnB": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 6}]] },
    "Get Training Mock Test Retail": { "main": [[{"node": "Set: Mock Retail", "type": "main", "index": 0}]] },
    "Set: Mock Retail": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 7}]] },
    "Get Welcome Call": { "main": [[{"node": "Set: Welcome Call", "type": "main", "index": 0}]] },
    "Set: Welcome Call": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 8}]] },
    "Get Go Live Assessment": { "main": [[{"node": "Set: Go Live", "type": "main", "index": 0}]] },
    "Set: Go Live": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 9}]] },
    "Get CSM Assessment": { "main": [[{"node": "Set: CSM Assessment", "type": "main", "index": 0}]] },
    "Set: CSM Assessment": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 10}]] },
    "Get CSM Roleplay": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 11}]] },
    "Get BC SPIN": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 12}]] },
    "Get BC Mock Test": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 13}]] },
    "Get BC Pitching": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 14}]] },
    "Get BC Closing": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 15}]] },
    "Get BC Full Pitching": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 16}]] },
    "Get SC Mock Test": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 17}]] },
    "Get SC Full Call": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 18}]] },
    "Get SC Objection Handling": { "main": [[{"node": "Merge Assessment Sheets", "type": "main", "index": 19}]] },
    "Merge Config Data": { "main": [[{"node": "Merge All Data", "type": "main", "index": 0}]] },
    "Merge Assessment Sheets": { "main": [[{"node": "Merge All Data", "type": "main", "index": 1}]] },
    "Merge All Data": { "main": [[{"node": "Normalize and Find New Scores", "type": "main", "index": 0}]] },
    "Normalize and Find New Scores": { "main": [[{"node": "Has New Scores?", "type": "main", "index": 0}]] },
    "Has New Scores?": {
      "main": [
        [
          {"node": "Append to Assessment_Scores", "type": "main", "index": 0},
          {"node": "Group for Email", "type": "main", "index": 0}
        ],
        [{"node": "No New Scores", "type": "main", "index": 0}]
      ]
    },
    "Group for Email": { "main": [[{"node": "Has Digest?", "type": "main", "index": 0}]] },
    "Has Digest?": {
      "main": [
        [{"node": "Send Score Digest Email", "type": "main", "index": 0}],
        [{"node": "No Email Needed", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
